body.active-modal {
	overflow-y: hidden;
}

.btn-modal {
	padding: 10px 20px;
	position: absolute;
	margin: 0px;
	right: 0px;
	bottom: 0px;
	width: 200px;
	height: 54px;
	display: flex;
	border-radius: 60px;
	align-items: center;
	justify-content: center;
	color: rgba(234, 231, 220, 1);
	font-family: Work Sans;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;

	&:hover {
		background-color: #565553;
	}
}

.modal,
.overlay {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
}

.overlay {
	background: rgba(49, 49, 49, 0.8);
}
.modal-content {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 1.4;
	background: #d8c3a5;
	padding: 14px 28px;
	border-radius: 5px;
	max-width: 600px;
	min-width: 300px;
}
.modal-header {
	font-family: Inter;
	padding: 0;
	color: white;
	background-color: #e85a4f;
	font-size: large;
	display: inline-block;
	inline-size: 118.8%;
	margin-top: -5%;
	margin-left: -9.3%;
	border-radius: 5px;
	position: relative;
	justify-content: center;
	text-align: center;
}

.registrationForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.registrationForm input {
	background-color: #eae7dc;
	width: 80%;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid
		rgba(142.00000673532486, 141.0000067949295, 138.00000697374344, 1);
	box-sizing: border-box;
	align-items: center;
	color: #e85a4f;
	font-size: 15px;

	&:focus {
		outline: solid 0 transparent;
		border-color: #e85a4f;
	}

	&::placeholder {
		font-family: Inter;
		color: #e85a4f;
		font-weight: 400;
		font-size: 15px;
	}
}

.registerBtn {
	font-family: Inter;
	border-radius: 100px;
	margin-bottom: 20px;
	font-size: 15px;
	width: auto;

	&:hover {
		background-color: #565553;
	}

	&:active {
		background-color: #d8c3a5;
	}
}

.close-modal {
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 10px;
	right: 15px;
	color: white;

	&:hover {
		color: #565553;
	}

	&:active {
		color: #d8c3a5;
	}
}
