@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

._00Landing__00Landing {
	display: flex;
	height: calc(100vh - 81px);

	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	overflow: auto;
	background: rgba(234, 231, 220, 1);
}
._00Landing__00Landing .HeadingFrame {
	position: absolute;
	left: 15%;
	top: 40%;
	width: 40%;
	height: 40%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
._00Landing__00Landing .HeadingFrame .Heading {
	position: relative;
	flex: none;
	margin-bottom: 20px;
	width: 395px;
	height: 60px;
	display: flex;
	align-items: center;
	color: rgba(232, 90, 79, 1);
	font-family: Work Sans;
	font-size: 60px;
	font-weight: 600;
	line-height: 60px;
}
._00Landing__00Landing .HeadingFrame .Description {
	position: relative;
	flex: none;
	margin-bottom: 20px;
	width: 405px;
	height: 24px;
	display: flex;
	align-items: center;
	color: rgba(232, 90, 79, 1);
	font-family: Work Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
._00Landing__00Landing .ImageFrame {
	position: relative;
	left: 50%;
	top: 5%;
	width: 29.24%;
	height: 85%;
	background: rgba(219, 234, 254, 1);
}
._00Landing__00Landing .ImageFrame ._04_sequoia1 {
	position: absolute;
	left: 587.630126953125px;
	top: 1.10546875px;
	width: 196px;
	height: 848px;
	object-fit: cover;
	overflow: hidden;
}
._00Landing__00Landing .ImageFrame ._03_4runner1 {
	position: absolute;
	left: 391.630126953125px;
	top: 0.10546875px;
	width: 196px;
	height: 848px;
	object-fit: cover;
	overflow: hidden;
}
._00Landing__00Landing .ImageFrame ._02_tundra1 {
	position: absolute;
	left: 195.630126953125px;
	top: 0.10546875px;
	width: 195px;
	height: 848px;
	object-fit: cover;
	overflow: hidden;
}
._00Landing__00Landing .ImageFrame ._01_grSupra1 {
	position: absolute;
	left: -0.369903564453125px;
	top: 0.10546875px;
	width: 196px;
	height: 848px;
	object-fit: cover;
	overflow: hidden;
}

._00Landing__00Landing .ImageFrame .LogInFrame {
	position: absolute;
	right: 205px;
	bottom: 10px;
	width: 200px;
	height: 54px;
	display: flex;
	padding-top: 25px;
	padding-right: 32px;
	padding-bottom: 25px;
	padding-left: 32px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	background: rgba(232, 90, 79, 1);
	border-radius: 60px;
}
._00Landing__00Landing .ImageFrame .RegisterFrame {
	position: absolute;
	right: 0.369873046875px;
	bottom: 10px;
	width: 200px;
	height: 54px;
	display: flex;
	padding-top: 25px;
	padding-right: 32px;
	padding-bottom: 25px;
	padding-left: 32px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	background: rgba(234, 231, 220, 1);
	border-radius: 60px;
}
